<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I'm a cool guy, trying to learn as much as I can about the web architecture and how
          to work with it. In a very short time working as a Full Stack Developer, I experienced
          a bunch of concepts concerning the web architecture, DevOps, CI/CD etc., always passing
          along my knowledge.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          But I'm not a working machine. I really like to travel (far), play guitar, hike a trail
          once in a <s>week</s> month, meet my friends and other normal things normal people do.
        </p>
      </div>
    </div>
  </div>
</section>
